.footer-section{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .fs-img{
        img{
            width: 100px;
        }
    }
    .fs-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 45px;
        }
        p{
            font-size: 13px;
        }
    }
}