.dashboard{
    .card-box{
        margin-top: 50px;
        border-color: #d2d2d2 !important;
        .card-icon{
            float: left;
            padding: 12px;
            margin-left: 11px;
            margin-top: -30px;
            border-radius: 8px;
            width: 95px;
            text-align: center;
            // background: #f8f8f8 !important;
            // border: 1px dashed #d2d2d2;
            i.fas{
                font-size: 50px;
                color:#f8f8f8;
            }
        }
        .card-body{
            
            hr{
                margin: 0;
            }
            .card-title{
                margin-top: -10px;
                text-align: right;
                font-weight: 700;
                font-size: 30px;
            }
            .card-text{
                text-align: right;
                margin-top: -42px;
                font-size: 13px;
            }
        }
        .card-footer
        {
            background: #f8f8f8 !important;
            border: #d2d2d2 !important;
        }
    }
}